<!DOCTYPE html>
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?13553ad6bc601bce9d1ee576ae5922e8";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
<html lang="en">
  {% include head.html %}

  <!-- hack iOS CSS :active style -->
  <body ontouchstart="">
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    <!-- Image to hack wechat -->
    <img src="/img/icon_wechat.png" width="0" height="0" />
    <!-- Migrate from head to bottom, no longer block render and still work -->
  </body>
</html>
